@tailwind base;
@tailwind components;
@tailwind utilities;

.b1 {
  background-color: rgba(59, 130, 246);
  max-width: fit-content;
  border-radius: 48%;
  color: aliceblue;
  display: inline-block;
}

.t1{
 color: #0097b2;
}